In [ ]:
a=[1,4,5,10,['a','b','c']]
print(a)
a.insert(3,20)
print(a)
a.remove(10)
print(a)
a.append('hi')
print(a)
print(len(a))
a.pop()
print(a)
a.pop(2)
print(a)
b=[4,4]
a.extend(b)
print(a)
a.clear()
print(a)

[1, 4, 5, 10, ['a', 'b', 'c']]
[1, 4, 5, 20, 10, ['a', 'b', 'c']]
[1, 4, 5, 20, ['a', 'b', 'c']]
[1, 4, 5, 20, ['a', 'b', 'c'], 'hi']
6
[1, 4, 5, 20, ['a', 'b', 'c']]
[1, 4, 20, ['a', 'b', 'c']]
[1, 4, 20, ['a', 'b', 'c'], 4, 4]
[]

In [ ]:
x={'apple':28,'mango':35,'grape':23,'banana':15}
print(x)
print(len(x))
print(x.keys())
print(x.values())
print(x.items())
y=x.get('mango')
print(y)
x['banana']=30
print(x)

{'apple': 28, 'mango': 35, 'grape': 23, 'banana': 15}
4
dict_keys(['apple', 'mango', 'grape', 'banana'])
dict_values([28, 35, 23, 15])
dict_items([('apple', 28), ('mango', 35), ('grape', 23), ('banana', 15)])
35
{'apple': 28, 'mango': 35, 'grape': 23, 'banana': 30}

In [ ]:
t=(1,2,3,'hello')
print(t)
print(len(t))
print(t[3])
print(t[1:3])
y=(20,30)
t1=t+y
print(t1)

(1, 2, 3, 'hello')
4
hello
(2, 3)
(1, 2, 3, 'hello', 20, 30)

In [ ]:
s={'a',1,'b',2,3,4}
print(s)
s.add('c')
print(s)
s.pop()
print(s)
s.remove(3)
print(s)
print(len(s))
s.clear()
print(s)

{1, 2, 3, 4, 'b', 'a'}
{1, 2, 3, 4, 'c', 'b', 'a'}
{2, 3, 4, 'c', 'b', 'a'}
{2, 4, 'c', 'b', 'a'}
5
set()